body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
#title1:hover{
    color: green;
}
#title1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 70px;
    font-weight: 700;
}
#div1{
    height: 80px;
}



#p1{
    font-size: 20px;
}

#button-1{
    background-color: white;
    margin-top: 70px;
    
}

#composite-roller{
    margin-top: 80px;
    font-size: 70px;
    text-align: center;
}
 #button-2{
border-radius: 4px;
/* background-color: white; */

} 
 
.image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 1;
}

#img1 {
    width: 100%; 
    height: 500px; 
}

#div3{
    margin-top:220px;
}
 #div4{
    margin-top: 70px;
    margin-left: 70px;
    background-color: black;
    color: white;
} 

.container-slider{
    margin-left: 150px;
}



#Benefits-heading{
    text-align: left;
    margin-top: 70px;
    font-size: 40px;
}

#l1{
    margin-top: 50px;
    font-size: 25px;
}
 #im3{
    height: 860px;
    width: 750px;
} 
#demo{
    margin-left: 80px;
}

  .element5 {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 200px;
    margin-right: 200px;
  }
  .element5 h2 {
    font-weight: 600;
    margin-bottom: 30px;
  }
  .element5,
  ul {
    font-size: 24px;
  }
  .indus_img {
    width: 324px;
    height: 200px;
    margin: 4px;
  }
  .img_roller{
      width: 580px;
      height: 325px;;
  }
  .element6{
      background-color: black;

  }
  #text-roller{
      margin-top: 30px;
      color: white;
  }
  #text-roller p{
      font-size: 22px;
  }


  .element8 {
      margin-top: 80px;
      position: relative;
      width: 100%;
      height: 526px;
      overflow: hidden; /* Ensures that content outside the image area is hidden */
  }

  .element8 img {
      width: 100%;
      height: auto;
      display: block;
      opacity: 0.7;
  }

  .element8 > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 1;
      color: white; /* Adjust text color as needed */
  }

  .element8 h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
  }

  .element8 button {
      font-size: 1.2rem;
      padding: 10px 20px;
      border-radius: 5px;
  }
  table{
      border: black !important;
  }
  td:first-child {
          font-weight: bold;
      }